/* Variables */
:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --button-hover-color: #555;
    --border-color: #ccc;
}

/* Estilos globales */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Header y Footer */
header, footer {
    background-color: var(--text-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Main */
main {
    padding: 2rem;
}

h1, h2 {
    margin: 0;
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
}

/* Estudiantes */
#students {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

article {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    max-width: 300px; 
    box-sizing: border-box; 
}

/* Formularios */
input, select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--text-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
}
