:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --button-hover-color: #555;
    --border-color: #ccc;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--text-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    flex: 1;
    padding: 2rem;
}

h1, h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

#students {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

article {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 1rem); /* Ocupa un tercio del ancho disponible */
    max-width: 300px; /* Limitar el ancho máximo */
    box-sizing: border-box; /* Incluir padding y border en el tamaño */
}

article strong {
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--text-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
}
